# Introduction To Python
## Section 1 - Data Types

Welcome to Jupyter!  
You can write and run your own python code here without installing anything.  
Have a go at printing a string.  
Hold shift and press return to run the cell below or press the play button above to run the cell.  
You can insert more cells or delete cells using functions in the menus above.

In [ ]:
print("Welcome to Introduction to Python")

Have a go at printing your own string here.  
Write your code below then hold shift and press return.

You can assign a string to a variable and print the variable

In [ ]:
# You can assign a string to a variable and print the variable
a = "This is the first half of a sentence, "
b = "and this is its second half"
print(a)
print(a + b)

Assign the string "Hitachi, Inspire the Next" to the variable `tagline`, then print this variable

In [ ]:
tagline =

Assign variables `a` and `b` to integers of your choice, then add them together and print the results

In [ ]:
a = 
b =

Now subtract `b` from `a`, and print the result

Now print `a` multiplied by `b`

Now print `a` divided by `b`

Print the remainder of `a` divided by `b`

Print `a` squared added to `b` cubed

Run the cell below:

In [ ]:
# This is an unformatted string
my_str = "I have {} apples and {} pears"

# We can format it as follows
apples = 5
pears = 4

print(my_str.format(apples, pears))

Now try it for yourself, define your own unformatted string and format it using the format function

In [ ]:
# Now define your own unformatted string and format it using the format function

You can re-assign a variable, and even change its type.  
Run this cell and follow what is happening on each line.

In [ ]:
x = 5
print(x)
x = x + 4
print(x)
y = 12
x = y + 10
print(x)
x = "X is now a string"
print(x)

This is an example of a list.  
Using integer indexing print crackle from this list:

In [ ]:
example_list = ["Snap", "Crackle", "Pop"]

Create your own list of 6 different items and set it to the variable `my_list`.  
Have a go at printing the first item.

Now print the last item of the list (without using the number 5)

In one line of code, print the 2nd, 3rd and 4th items from your list.

Now print all the items in the list from the 3rd item onwards

What do you get if you add the 2nd number in the list_of_numbers below to the 4th Number?

In [ ]:
list_of_numbers = [4, 2.5, 7, 19, 12, 1, 0, 22]

What do you get if you divide the 5th number in the `list_of_numbers` by the 1st number?

What do you get if you raise the last number in the `list_of_numbers` by the penultimate number?

Assign the example dict below to the variable `hitachi`

In [ ]:
hitachi = { 
    "Name": "Hitachi Ltd",
    "Employees": 333150,
    "Revenue_EUR": 75092000000,
    "HQ": "Tokyo, Japan",
    "Founding_Year": 1910,
    "Founding_Spirit": ["Wa", "Makoto", "Kaitakusha-Sieshin"]
}

What is Hitachi's revenue in billions?  
_Hint: 1 billion = 1x10<sup>9</sup>_

How many years old is Hitachi?

Have a go at defining your own dict and select some values from it

## Section 2 - Functions

Defining functions, remember that python is indentation-significant.  
This function takes two numbers as parameters, adds them together and prints the result.

In [ ]:
def add_numbers(x1, x2):
    y = x1 + x2
    print(y)

In [ ]:
# try calling the function
add_numbers(10, 15)

In [ ]:
# Choose some numbers and call the function yourself
add_numbers()

Call the function below with your own name as the parameter

In [ ]:
def happy_birthday(name):
    print("Happy Birthday to you")
    print("Happy Birthday to you")
    print("Happy Birthday dear " + name)
    print("Happy Birthday to you")

Have a go at defining a function that multiplies two numbers together, adds 5, and prints the result.  
Then call it with some numbers to test it out.

#### Logical Operators

The following statement should evaluate to True, run this cell to make sure:

In [ ]:
print(1 + 2 == 3)

The following statement should evaluate to False, run this cell to make sure:

In [ ]:
print(1 + 2 == 5)

Have a go at writing statements that evaluate to True.  
Fill in the right hand and left hand sides of these statements so that they evaluate to True:

In [ ]:
print( == )
print( != )
print( < )
print( > )
print( >= )
print( <= )

Have a go at writing statements that evaluate to False.  
Fill in the right hand and left hand sides of these statements so that they evaluate to False:

In [ ]:
print( == )
print( != )
print( < )
print( > )
print( >= )
print( <= )

Choose a number:

In [ ]:
num =

Run this cell to describe your number

In [ ]:
if num < 0:
    print("{} is negative".format(num))
elif num > 0:
    print("{} is positive".format(num))
else:
    print("{} is zero".format(num))

if num != 5:
    print("{} is not five".format(num))
else:
    print("{} is five".format(num))

Have a go at defining your own if/elif/else clauses to describe `num`

Choose a type of swallow out of `"European"` or `"African"`, then call the function below with that type to find its unladen air speed velocity

In [ ]:
def swallow_velocity(type):
    if type == "European":
        print("12 m/s")
    elif type == "African":
        print("10 m/s")
    else:
        print("I don't know that type of swallow")

Fill in the function below.  
Do some error checking to make sure the number passed isn't negative.  
Then print the square root of the number.  
_Hint: Square root of a number is the number raised to the power of 0.5_

In [ ]:
def print_square_root(x):

Using your function, check the square root of 41370624

We can chain logical operators together using "and".  
Define a new variable `num` with a float or integer.  
Try running this cell to describe `num`.

In [ ]:
num = 

if (num % 2 == 0) and (num % 3 == 0):
    print("{} is divisible by six".format(num))
else:
    print("{} is not divisible by six".format(num))

if isinstance(num, int) and (num > 0) and (num < 10):
    print("{} is a positive single digit".format(num))

We can also chain logical operators together using "or".  
Try it out here, put your level in e.g. "C1".  
Then run this cell to print out your position.

In [ ]:
level = ""

if level == "C1" or level == "C2":
    position = "Consultant"
elif level == "SC1" or level == "SC2":
    position = "Senior Consultant"
elif level == "M1" or level == "M2" or level == "M3":
    position = "Manager"
elif level == "SM1" or level == "SM2":
    position = "Senior Manager"
elif level == "DCS":
    position = "Director"
elif level == "VP":
    position = "Vice President"
else:
    position = "Other"

print(position)

Now have a go at this yourself!   
Define a variable and test it out with   
your own "or" and "and" conditional statements

You can check whether something is in a string or a list, or if a key is in a dict, using the `in` keyword.  
Try this out by running the three cells below.

In [ ]:
# String
string_1 = "Ni"
string_2 = "We are the knights who say 'Ni!'"

if string_1 in string_2:
    print("String 1 is a substring of String 2")
else:
    print("String 1 is not a substring of String 2")

In [ ]:
# List
most_common_pets = ['dog', 'cat', 'hamster', 'fish', 'mouse', 'guinea pig', 'bird', 'lizard', 'snake']

my_pet = ''

if my_pet in most_common_pets:
    print("Your {} is a regular pet".format(my_pet))
elif my_pet == '':
    print("You don't have a pet")
else:
    print("Your {} is an odd pet".format(my_pet))

In [ ]:
# Dict
hqs = {
    'Hitachi Rail': '40 Holborn Viaduct, London',
    'Hitachi Europe': 'Whitebrook Park, Maidenhead',
    'Pentaho': '10 Exchange Square, London',
    'Hitachi Consulting': 'Harmsworth House, London',
    'Horizon': 'Sunrise House, Gloucester',
    'Hitachi R&D': '125 London Wall, London',
}

# Fill in the variable with your favourite Hitachi Company
my_fave_hitachi_company = 

if my_fave_hitachi_company in hqs:
    print("The UK HQ for {} is {}".format(my_fave_hitachi_company, hqs[my_fave_hitachi_company]))
else:
    print("Sorry I don't have the HQ for {}")

The `append()` method will append an item to a list.  
Define a function that will check if the item is in the list.  
If the item is not in the list, append it to the list.  
Then print the list. Try this out with a few items.

## Section 3 - Loops

The range function will give you a list of numbers between two given numbers.  
Assign integers to two variables `x` and `y`.  
Then call range on these numbers to get the integers between x and y.  
Then loop through this range and print each number between x and y.

Now loop through this range and print the square of each number between x and y

You can loop through a list and run conditionals on each number.

In [ ]:
# You can loop through the list and run conditionals on each number
for missing_limbs in range(0, 5):
    if missing_limbs == 0:
        print("None Shall Pass")
    elif missing_limbs == 1:
        print("Tis but a scratch")
    elif missing_limbs == 2:
        print("It's just a flesh wound")
    elif missing_limbs == 3:
        print("I'm Invincible")
    elif missing_limbs == 4:
        print("All right, we'll call it a draw.")

Assign two variables to integers, then have a go at looping through each integer between these numbers are exactly divisible by 4.   

If the number is divisible by 4, print out one quarter of this number.

You can iterate through a list and break when a requirement is met, run the cell below to see this in action.

In [ ]:
food_list = ["Spaghetti", "Coconuts", "Spam", "Eggs"]

for food in food_list:
    if food == "Spam":
        print("Yum, spam!")
        break
    else:
        print("I don't want " + food + ", I want spam")

If you iterate through a dict, you actually iterate through the keys in the dict.

In [ ]:
stock_prices = {'IBM': 146.48, 'MSFT': 44.11, 'CSCO': 25.54, 'AAPL': 108.48, 'HTHIY': 493.57}
for stock in stock_prices:
    print("The price of {} is ${}".format(stock, stock_prices[stock]))

Have a go at this yourself, define your own key-value pairs in a dict.  
Iterate through the keys and print the key and the value.

While loops allow you to iterate through until a condition is met.
Run the cell below to see an example.

In [ ]:
a = 5
b = 1
while b < a:
    print("{} is less than {}".format(b, a))
    b += 1
print("{} is not less than {}".format(b, a))

Have a go at defining your own while loop.  
Define a string and try adding full stops to it until the length of the string is 20.

#### List comprehensions

If we have a list defined as follows:

In [ ]:
my_list = [1, 4, 5, 7, 8, 10, 12, 15, 16, 20, 24, 28, 30, 35, 38]

Instead of doing the following:

In [ ]:
odd_numbers_from_my_list = []
for i in my_list:
    if i % 2 == 1:
        odd_numbers_from_my_list.append(i)
        
odd_numbers_from_my_list

We can write:

In [ ]:
odd_numbers_from_my_list = [i for i in my_list if i % 2 == 1]

odd_numbers_from_my_list

Write a list comprehension that does the same as the following statement:

In [ ]:
cubed_even_numbers = []

for i in my_list:
    if i % 2 == 0:
        cubed_even_numbers.append(i ** 3)

cubed_even_numbers

## Section 4 - Exercises

__For each of the exercises below, carry out the instructions then try out your functions with the test cases given and make sure you don't get an assertion error and check that the test cases pass.__ 

__If you do get an error or the tests fail, try again.__

Define a function `power` that takes two paramaters: `x` and `y`  
Return the value of the `x` to the power of `y`

In [ ]:
# Write your function here

In [ ]:
# Now test your function
test_1 = power(4, 5) == 1024
test_2 = power(6, 3) == 216
test_3 = power(10, 10) == 10000000000
test_4 = power(4, -0.5) == 0.5
test_5 = power(6561, 0.125) == 3

if all([test_1, test_2, test_3, test_4, test_5]):
    print("PASSED")
else:
    print("FAILED")

Write a function `is_vowel` that takes a character (i.e. a string of length 1)  
and returns `True` if it is a vowel or `False` otherwise

In [ ]:
test_1 = is_vowel('a')
test_2 = not is_vowel('q')
test_3 = is_vowel('e')
test_4 = not is_vowel('9')
test_5 = not is_vowel(';')
test_6 = is_vowel('u')

if all([test_1, test_2, test_3, test_4, test_5, test_6]) and (test_1 is True):
    print("PASSED")
else:
    print("FAILED")

Define a function `volume_from_dimensions` that takes 3 parameters: length, width and depth in cm.  
Return the volume in litres  
_Hint: 1 litre = 1dm<sup>3</sup>_

In [ ]:
test_1 = volume_from_dimensions(10, 5, 1) == 0.05
test_2 = volume_from_dimensions(15, 15, 15) == 3.375
test_3 = volume_from_dimensions(14, 0, 12) == 0
test_4 = volume_from_dimensions(100, 200, 300) == 6000

if all([test_1, test_2, test_3, test_4]):
    print("PASSED")
else:
    print("FAILED")

Define a function `pythagoras` that takes 2 numerical parameters: length and width of a right-angled triangle  
Return the length of the hypotenuse

In [ ]:
test_1 = pythagoras(3, 4) == 5
test_2 = pythagoras(5, 12) == 13
test_3 = pythagoras(9, 40) == 41
test_4 = pythagoras(58, 840) == 842
test_5 = pythagoras(0, 10) == 10

if all([test_1, test_2, test_3, test_4, test_5]):
    print("PASSED")
else:
    print("FAILED")

Define a function `factorial` that takes 1 integer parameter: `x`  
Return x! ("x factorial")

In [ ]:
test_1 = factorial(4) == 24
test_2 = factorial(20) == 2432902008176640000
test_3 = factorial(0) == 1
test_4 = factorial(1) == 1
test_5 = factorial(5) == 120

if all([test_1, test_2, test_3, test_4, test_5]):
    print("PASSED")
else:
    print("FAILED")

Define a function `compound_interest` that takes 3 parameters: 
* an amount saved
* an annual interest rate
* and a number of years  

Return the value of the savings to the nearest penny at the end of the period assuming the interest is paid once a year.

In [ ]:
test_1 = compound_interest(20, 5, 15) == 41.58
test_2 = compound_interest(1000, 10, 10) == 2593.74
test_3 = compound_interest(75, 12, 15) == 410.52
test_4 = compound_interest(0, 12, 15) == 0
test_5 = compound_interest(10000, 1, 50) == 16446.32

if all([test_1, test_2, test_3, test_4, test_5]):
    print("PASSED")
else:
    print("FAILED")

Define a function `numbers_divisible_by_5` that takes two integer parameters and returns a list with all the numbers between these two numbers (inclusive) that are divisible by 5.

In [ ]:
test_1 = numbers_divisible_by_5(4, 6) == [5]
test_2 = numbers_divisible_by_5(96, 123) == [100, 105, 110, 115, 120]
test_3 = numbers_divisible_by_5(95, 125) == [95, 100, 105, 110, 115, 120, 125]
test_4 = numbers_divisible_by_5(-3, 6) == [0, 5]
test_5 = numbers_divisible_by_5(6, 9) == []

if all([test_1, test_2, test_3, test_4, test_5]):
    print("PASSED")
else:
    print("FAILED")

Define a function `max_in_list` that takes a list of numbers as a parameter.  
Return the highest number in the list, without using the max function.

In [ ]:
test_1 = max_in_list([0, 3, 4, 323.12, 7, 9]) == 323.12
test_2 = max_in_list([0, 0, 0, 0, 0, 0]) == 0
test_3 = max_in_list([-5, -4, -3, -10, -20, -50]) == -3
test_4 = max_in_list([-5, -4, -3, 20, -20, 55]) == 55
test_5 = max_in_list([60, 60, 20, 20, 40, 40]) == 60
test_6 = max_in_list([]) == None

if all([test_1, test_2, test_3, test_4, test_5, test_6]):
    print("PASSED")
else:
    print("FAILED")

Write a function `lengths_of_words` that takes a string and returns a list of lengths of words in the list.

In [ ]:
test_1 = lengths_of_words('My dog Spot') == [2, 3, 4]
test_2 = lengths_of_words('The quick brown fox jumps over the lazy dog') == [3, 5, 5, 3, 5, 4, 3, 4, 3]
test_3 = lengths_of_words('Antidisestablishmentarianism') == [28]
test_4 = lengths_of_words('') == [0]
test_5 = lengths_of_words('Nobody expects the Spanish Inquisition') == [6, 7, 3, 7, 11]

if all([test_1, test_2, test_3, test_4, test_5]):
    print("PASSED")
else:
    print("FAILED")

_For more exercises, have a go at the exercises on Hacker Rank_

## Section 5 -  Modules

You can import individual variables/functions/classes from a module into your namespace

In [ ]:
from math import pi
print(pi)

Or you can import all variables from a module and call them using module.variable

In [ ]:
import math
print(math.log10(10000))

Have a go at importing `cos` and `pi` from the math module.

Print the cosine of pi

The random module has a function randint which takes in two parameters, a lower integer and an upper integer and returns an integer between those two numbers (inclusive).


Use the randint function to roll a six-sided die and a 10-sided die and add the results together

## Section 6 -  Dates and Times

Import the `datetime` module and use a `date` and `timedelta`  
to work out what the date is 10,000 days after you were born.  
Is this date in the future or the past?

Use `datetime.datetime.strptime` to convert these strings into datetime  
_Hint: If you need help, visit strftime.org_

In [ ]:
date_1_str = '2017-12-25 04:00'

In [ ]:
date_2_str = '2017-01-01 01:00:00'

In [ ]:
date_3_str = '23/04/2012 03:04:24'

In [ ]:
date_4_str = '12/31/14 13:34'

In [ ]:
date_5_str = '2015-10-01T10:03:10'

Convert the date in the cell below into the string formats below  
_Hint: If you need help, visit strftime.org_

In [ ]:
my_dt = datetime.datetime(2010, 4, 5, 17, 11, 54)

In [ ]:
# "2010/04/05 17:11:54"

In [ ]:
# "17:11:54 on 5 April 2010"

In [ ]:
# "2010-04-05T17:11:54

In [ ]:
# "5:11:54 PM"

In [ ]:
# "Monday"

Now have a go at converting this string from  
`"1989-11-09 19:17:00"`  
To "17 minutes past 7 on November 9, 1989"

The `datetime.datetime` class has a method `utcnow()`, use it to show you the time now in UTC

Assign the current date to a variable named `today`.
Celerant was acquired by Hitachi Consulting on 31st December 2012.
How many days has it been?

How many seconds are there between 04:05:12 on 17/09/2014 and 17:32:15 on 17/09/2018  
How many hours is this?  
How many days?

#### Talking Clock

We're going to write a `talking_clock` function!  
Write a function that takes no parameters  
This function should calculate what the time will be in 3 seconds  
Print "At the beep, the time will be 12:04 and 34 seconds" (But with what the time will be in 3 seconds)  
Then wait for 3 seconds  
Then print "Beep!"  
_Hint: To wait in python, you will need to import the time module and use `time.sleep(<seconds>)`_

In [ ]:
# Write your talking clock function here

In [ ]:
# Call your talking clock function here
talking_clock()