### Revenues

Run the cell below to load the revenues for a retail company for 2 seperate years.

In [ ]:
import pandas as pd

revenues = pd.DataFrame({
    2015: ['10232431p', '11432812p', '12938450p', '30432209p', '20110887p', '14903945p',
           '16774532p', '14687687p', '30462134p', '39768256p', '58342173p', '80107291p'],
    2016: ['9187174p', '10242983p', '11143096p', '30954299p', '20333143p', '16780122p',
           '18430973p', '15090314p', '31286712p', '41552798p', '60131181p', '84270667p'],
}, index=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'])

revenues

Check the data types of each column first:

In [ ]:
# Run this cell

revenues.dtypes

These numbers are given in pence, but the analysis should be carried out in Â£. 

Write a function to strip off the 'p', and divide by 100.

Map this function onto columns `2015` and `2016`.

Now check the dtypes of each column again, to make sure you have floats:

What was the total revenue for 2015?

and 2016?

Create a new column `"Change"` with the change in revenues between 2015 and 2016.

Create a new column `"Percentage Change"` with the percentage change in revenues between 2015 and 2016.

### Tech Firms (Some More)

Run the cell below to load the tech firms in again

In [ ]:
tech_firms = pd.read_json('data/tech_firms.json')
# Shows the first 5 rows
tech_firms.head()

Write a function that takes in a string and returns `True` if the string ends with `'US'` and returns `False` otherwise.

Map this function onto the column `"Headquarters"`.

Use this mapping to select only the companies whose `Headquarters` is in the US.

What is the revenue of the companies on the list that are in the US?

You can use a tilde (~) to return the opposite case.

For example:

`df[df['Col1'] > 5]`

Will return all rows for which column `"Col1"` is greater than 5.

However,

`df[~df['Col1'] > 5]`

Will return all rows for which column `"Col1"` is *not* greater then 5.

Using the tilde, what is the revenue of the companies on the list that are not in the US?

### Cleaning Strings

Some people filled in a form with their first names, last names and heights. 

However the height field was a free text field and there was no error checking. Your job is to clean up these heights.

All the heights are given in metric but the string formats are different

Run the cell below to see the table.

In [ ]:
heights = pd.DataFrame([
    {"first_name": "Stephanie", "last_name": "Bambery", "height": "1.60 metres"},
    {"first_name": "Barnard", "last_name": "Darbey", "height": '1m 80cm'},
    {"first_name": "Gale", "last_name": "Blind", "height": "154"},
    {"first_name": "Corry", "last_name": "Erbe", "height": "1 meter 80"},
    {"first_name": "Godard", "last_name": "Haslam", "height": "170 cm"},
    {"first_name": "Raimundo", "last_name": "Pelman", "height": "172 cm"}, 
    {"first_name": "Evvie", "last_name": "Rathke", "height": "165"},
    {"first_name": "Darius", "last_name": "Hymers", "height": "1.67 m"}
], columns=['first_name', 'last_name', 'height'])

heights

They are currently strings but you would like them as floats in centimetres.

Write a function that will read in all of these height strings, convert them to centimetres, strip out any non-digit characters and return a float.

_Hint: have a look back at the presentation at all of the string transformation functions_
_This is not an easy problem, so you may want to look at the solution for help_