In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
os.listdir('.')

['.ipynb_checkpoints',
 'customers.csv',
 'MOCK_DATA (1).csv',
 'MOCK_DATA (10).csv',
 'MOCK_DATA (11).csv',
 'MOCK_DATA (2).csv',
 'MOCK_DATA (3).csv',
 'MOCK_DATA (4).csv',
 'MOCK_DATA (5).csv',
 'MOCK_DATA (6).csv',
 'MOCK_DATA (7).csv',
 'MOCK_DATA (8).csv',
 'MOCK_DATA (9).csv',
 'MOCK_DATA.csv',
 'products.csv',
 'Untitled.ipynb']

In [ ]:
all_dfs = []

for filename in [x for x in os.listdir('.') if x.startswith('MOCK')]:
    all_dfs.append(pd.read_csv(filename))

master_df = pd.concat(all_dfs)

In [ ]:
master_df.reset_index(drop=True, inplace=True)

In [ ]:
master_df = master_df.reindex(np.random.permutation(master_df.index))

In [ ]:
master_df.reset_index(drop=True, inplace=True)

In [ ]:
master_df['customer_id'] = master_df.index + 1

In [ ]:
master_df.to_csv('customers.csv', index=False)

In [ ]:
products = pd.read_csv('products.csv')

In [ ]:
products = products[~products.duplicated(['product_name'])]

In [ ]:
products.reset_index(drop=True, inplace=True)

In [ ]:
products['product_id'] = products.index + 1

In [ ]:
products.to_csv('products.csv', index=False)

In [ ]:
products

In [ ]:
np.random.randint(0,365, 100000)

In [ ]:
np.log10(14)

In [ ]:
len(master_df)

In [6]:
products = pd.DataFrame()

In [3]:
import datetime

In [4]:
dates = pd.Series(np.random.randint(0,366, 100000)).map(lambda x: datetime.datetime(2016, 1, 1) + datetime.timedelta(days=x))

In [7]:
products['Date'] = dates

In [8]:
times = pd.Series((np.random.randint(0, 1440, 100000))).map(lambda x: datetime.datetime(2016, 1, 1, 0, 0) + datetime.timedelta(minutes=x))

In [9]:
times = times.map(lambda x: x.time())

In [10]:
products['Time'] = times

In [11]:
products['Date'] =products['Date'].map(lambda x: x.date())

In [12]:
products = products.rename(columns={'Date': 'date', 'Time': 'time'})

In [13]:
quantity = np.random.poisson(1.0, 100000)

In [14]:
products['quantity'] = pd.Series(quantity+1)

In [15]:
products['product_id'] = np.random.randint(1, 459, 100000)

In [26]:
products.head()

   order_id        date      time  product_id  quantity  customer_id
0         1  2016-04-21  17:45:00         371         3            1
1         2  2016-01-25  19:33:00          75         4            2
2         3  2016-05-23  12:18:00         448         2            3
3         4  2016-03-05  00:19:00           7         2            4
4         5  2016-07-01  09:49:00          72         1            5

In [30]:
products = products.sort_values(['date', 'time'])

In [33]:
products = products.reset_index(drop=True)

In [34]:
products['order_id'] = products.index + 1

In [35]:
products['customer_id'] = 1

In [39]:
current_customer_id = 0
for i in products.index:
    if current_customer_id <= 12000:
        if np.random.rand() < (1/9.0):
            customer_id = np.random.randint(1, current_customer_id)
        else:
            customer_id = current_customer_id + 1
            current_customer_id += 1
    else:
        customer_id = np.random.randint(1, current_customer_id)
    products.loc[i, 'customer_id'] = customer_id

In [40]:
products = products.reindex_axis(['order_id', 'date', 'time', 'product_id', 'quantity', 'customer_id'], axis=1)

In [41]:
products.to_csv('sales.csv', index=False)

In [42]:
products = pd.read_csv('products.csv')

In [62]:
products['price'] = np.random.randint(25, 10000, 458)

In [63]:
products['price'] = products['price'].map(lambda x: '£%.2f' % (x / 100.0))

In [64]:
products

     product_id                                       product_name   price
0             1                                        Simvastatin  £19.07
1             2                                           Naproxen   £3.80
2             3                                     Throat Formula  £82.79
3             4                                             Kadian  £26.51
4             5                            METFORMIN HYDROCHLORIDE   £5.07
5             6                                  Secura Protective   £0.62
6             7              Allergenic Extracts Standardized Mite  £82.52
7             8                                             Diovan  £73.12
8             9                                            Comfort  £46.52
9            10                                 Gentamicin Sulfate  £20.91
10           11                                         Gas Relief   £5.83
11           12                        Medroxyprogesterone Acetate  £21.04
12           13                                           CELEBREX  £27.43
13           14                                         Prednisone  £80.72
14           15                                         TOPIRAMATE   £6.22
15           16                                        Anastrozole   £8.96
16           17                                         FLUOXETINE  £80.27
17           18                                          Acyclovir  £46.63
18           19                        Pramipexole Dihydrochloride  £54.75
19           20                     Bacteriostatic Sodium Chloride  £20.39
20           21     Neutrogena Rapid Clear 7 Day Acne Intervention   £5.16
21           22                                Contac Cold and Flu  £46.24
22           23                               Orphenadrine Citrate  £59.33
23           24                                            Xarelto  £30.71
24           25                                         ZONISAMIDE  £24.69
25           26                                        Amoxicillin  £47.64
26           27                          Hydralazine Hydrochloride  £89.88
27           28                             Antiseptic Mouth rinse  £43.91
28           29                             Disopyramide Phosphate   £5.19
29           30                                   NiteTime DayTime  £37.86
..          ...                                                ...     ...
428         429                               Morale Remedy No. 19  £59.14
429         430                    Green Guard Maximum Non-Aspirin  £91.23
430         431                                         Liposyn II  £86.20
431         432                       Cyproheptadine Hydrochloride   £5.04
432         433                         Betamethasone Dipropionate  £68.50
433         434                 Rejuvenate 2000 PM Formula For Men  £59.34
434         435                              ASPERGILLUS FUMIGATUS  £11.85
435         436                           Duloxetine hydrochloride  £27.80
436         437                                        Meprobamate   £2.16
437         438                               Drainage D-Tox Lymph  £22.40
438         439                                         Ropinirole  £46.26
439         440                              Jasmine 3D Moist Pact  £31.11
440         441                            Bupropion Hydrochloride  £84.30
441         442                                                Nix  £57.79
442         443                            Umcka FastActives Berry   £0.49
443         444                                           TICE BCG  £35.70
444         445                                        Finasteride  £66.93
445         446  CY BETTER LIPS BALM Humectante para Labios con...  £29.21
446         447                     AMARANTHUS TUBERCULATUS POLLEN  £15.83
447         448                              COLDS NAUSEA VOMITING   £2.64
448         449                                         Alprazolam  £87.03
449         450                             COLLINSONIA CANADENSIS  £69.38
450         451                                        Allopurinol  £46.22
451         452                               care one pain relief  £53.91
452         453  LBEL EFFET PARFAIT Spots Reducing Effect Found...  £69.72
453         454                          Doxorubicin Hydrochloride  £77.51
454         455                               Carpellum Mali Comp.  £67.25
455         456                                        simvastatin  £29.44
456         457                          Eyewash Flushing Solution  £48.62
457         458                                     HYDROCORTISONE  £54.90

[458 rows x 3 columns]

In [65]:
products.to_csv('products.csv', index=False)